#hero {
  height: 800px;
  background-image: url(/home-page/images/ocean.jpg);
  background-position: center;
  background-size: cover;
}

#hero-content {
    width: 900px;
    background-color: rgba(51, 47, 47, 0.8);
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 2px 4px 8px;
}

main h1 {
    margin: 0;
}