body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
}

#page-logo a {
  padding: 10px;
  font-family: "Oleo Script", sans-serif;
  color: rgb(245, 243, 160);
  font-size: 50px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

#page-logo a:hover {
  background-color: transparent;

}

header ul {
  display: flex;
  justify-content: space-between;
}

header li {
  padding: 20px;
}

header a {
  font-size: 20px;
  text-decoration: none;
  color: rgb(255, 241, 0);
  padding: 12px;
}
header a:hover {
  background-color: rgb(255, 241, 0);
  color: rgb(67, 67, 67);
  border-radius: 6px;
  text-shadow: rgba(0, 0, 0, 0.2);
}